body {
    background-color: #001240;
    font-family: 'Roboto', sans-serif;
}

.moved-down {
    margin-top: 0px;
}

.topnav {
    width: 97%;
    margin: 0 auto;
    display: flex;
}

.topnav .icon {
    display: none;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 150px;
    color: #fff;
}

.userPic {
    height: 100%;
    width: auto;
}

.userDetails {
    background-color: #00a7db;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 15px;
    flex-grow: 2;
}

.userDetails h1 {
    margin: 0;
    font-size: 24px; /* Converted to pixels */
}

.school h1 {
    font-size: 28px;
}

.userDetails span {
    margin: 0;
    display: inline-block;
}

.home {
    background-color: #00C1EA;
}

button.home {
    border: none;
    flex-shrink: 0;
}

.project {
    background-color: #94D401;    
}

button.project {
    border: none;
    flex-shrink: 0;
}

.dropdown {
    background-color: #61b100;
}

.dropbtn {
    background-color: #61b100;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 25px;  
}

button.dropbtn {
    border: none;
}

button.dropbtn:hover {
    background-color: #61b100;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.home,
.project {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}

.dropbtn {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home ion-icon,
.project ion-icon,
.dropbtn ion-icon {
    font-size: 100px;
}

.about {
    background-color: white;
    width: 97%;
    margin: 0 auto;
    padding-top: 0;
    position: relative;
    display: block;
}

.school {
    width: 97%;
    margin: 0 auto;
    background-color: #f1f1f1;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'menu main main right right right'
        'menu footer footer footer footer footer';
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 0;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.schooldates {
    grid-area: menu;
    font-size: 30px;
}

.schoolinfo {
    grid-area: main;
    font-size: 30px;
}

.schoolinfo2 {
    grid-area: right;
    font-size: 30px;
}

.schoolinfo3 {
    grid-area: footer;

}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
}

h1 {
    text-align: left;
    font-size: 36px;
    margin-bottom: 20px;
}

.projectlist {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.project-card {
    width: 100%;
    margin: 0 auto;
    margin-left: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.project-card h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.project-card p {
    font-size: 16px;
    margin-bottom: 20px;
}

.project-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
}

.read-more-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.read-more-btn:hover {
    background-color: #0056b3;
}

.long-description {
    display: none;
    text-align: left;
    background-color: #f9f9f9;
    padding: 10px;
    border-top: 1px solid #ddd;
    border-radius: 0 0 5px 5px;
    font-size: 16px;
}

.show {
    display: block;
}

.jobs {
    width: 1170px;
    margin: 0 auto;
    background-color: #f1f1f1;
}

.jobsgrid-container {
    display: grid;
    grid-template-areas:
        'menu main main right right right'
        'menu footer footer footer footer footer';
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 0;
    padding: 10px;
}

.jobdates {
    grid-area: menu;
    font-size: 30px;
}

.jobinfo {
    grid-area: main;
    font-size: 30px;
}

.jobinfo {
    grid-area: right;
    font-size: 30px;
}

.schoolinfo3 {
    grid-area: footer;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
}

@media screen and (max-width: 1100px) {
    .topnav {
        width: 97%;
        position: relative;
    }
    .topnav .home, .topnav .project,
    .dropdown .dropbtn {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: inline-flex;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .schooldates {
        grid-area: menu;
        font-size: 2.449vw;
    }
    
    .schoolinfo {
        grid-area: main;
        font-size: 2.449vw;
    }
    
    .schoolinfo2 {
        grid-area: right;
        font-size: 2.449vw;
    }

    .schoolinfo3 {
        grid-area: footer;
        font-size: 11px;
    
    }

    .jobdates {
        grid-area: menu;
        font-size: 2.449vw;
    }
    
    .jobinfo {
        grid-area: main;
        font-size: 2.449vw;
    }
    
    .jobinfo {
        grid-area: right;
        font-size: 2.449vw;
    }
    
    .schoolinfo3 {
        grid-area: footer;
        font-size: 11px;

    }

    .projectlist {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(24.49vw, 1fr));
        grid-template-rows: repeat(auto-fill, minmax(24.49vh, 1fr));
        gap: 20px;
    }

    .project-card h2 {
        font-size: 1.959vw;
        margin-bottom: 10px;
    }
    
    .project-card p {
        font-size: 1.306vw;
        margin-bottom: 20px;
    }

    .long-description {
        font-size: 1.306vw;
    }
}
  
@media screen and (max-width: 1100px) {
    .moved-down {
        margin-top: 450px; /* Adjust as needed */
    }

    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

    .topnav.responsive .dropdown {float: none; width: 100%; text-align: center; display: block;}
    .topnav.responsive .dropdown-content {position: relative; padding-bottom: 0px; float: none;}
    .topnav.responsive .dropdown .dropbtn {
        display: inline-flex;
        width: 100%;
        text-align: center;
        padding-bottom: 15px;
        position: relative;
        z-index: 1;
        float: none
    }

    .topnav.responsive .project { 
        display: inline-flex;
        position: relative;
        text-align: left;
        width: 100%;
        float: none;
        z-index: 1;
    }

    .topnav.responsive .home {
        display: inline-flex;
        position: relative;
        text-align: left;
        width: 100%;
        float: none;
        z-index: 1;
    }
}